*{
    color: white;
}
body {
    background-image: url(Images/raw); /* Replace with actual image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;

}

.container-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    background-color: rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 650px;
    height: 80vh;
    backdrop-filter: blur(5px);
    border: 2px solid gray;
}

h1 {
    color: #00d9ff;
    font-size: 24px;
}

.container input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

.container input:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}

.container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.checks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.checks label {

    font-size: 20px;
}
.btn{
    width: 90%;
    margin: 32px auto;
}
.btn button {
    width: 100%;
    background-color: #005f5f;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.btn button:hover {
    transform: scale(1.08);
}

.show-result {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 217, 255, 0.3);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    body{
        background-image: url(Images/mobile-img.png)
    }
    .container-layer {
        width: 95%;
        padding: 15px;
    }
    h1 {
        font-size: 20px;
    }
    .container input {
        padding: 10px;
        font-size: 14px;
    }
    .checks label {
        font-size: 14px;
    }
    .btn button {
        font-size: 16px;
        padding: 10px 20px;
    }
    .show-result {
        font-size: 18px;
        padding: 12px;
    }
}
